@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    text-align: center;
}
.order{
    width:75px;
    position: fixed;
    top:59%;
   right:90%;
   cursor: pointer;
   transition: width .2s;

}
.orderOrange{
    background-color: #F08E30;
    color:#fff;
}
.order:hover{
    width:95px;
}
header{
    background-image: url("https://cdn.shopify.com/s/files/1/0612/0230/1187/files/Crispy_Header.jpg?v=1640785885");
    background-size: cover;
    background-position: center;
}

#nav{
    /* background-color: transparent; */
    padding-top:19px;
    padding-bottom: 3px;
    position: fixed;
    /* color:#38b5b3; */
    width:100%;
    top: 0;
}
html body div#nav:hover{
  background-color: #F08E30;
  color:#fff !important;
}
nav{
    margin:auto;
    text-align: center;
    padding: 15px;
    color:#38b5b3;
}
.logo{
display: block;
margin:auto;
}
.link{
  color:inherit;
  padding: 15px;
    text-decoration: none;
    letter-spacing:0.5px;
    font-size: 18px;
    font-weight: 700;
    transition: color .3s ease-in;
    line-height: 18px;
  }
  .orderOrange .link{
    color:#fff;
  }
  .link:hover{
    color:#38b5b3;
  }

header, section{
    width:100%;
    min-height: 100vh;
}

.ourStory{
    padding: 10px;
}
.ourStory h2{
   color: #38b5b3;
   font-size: 48px;
   font-family: Almarai;
   line-height: 82px;
   font-weight: 400;
}
.ourStory p,.app p{
    font-weight: 300;
    font-size: 27px;
    color: rgba(58, 58, 58, .37);
    font-family: Tajawal;
    line-height: 50px;
    padding:0 50px;
}

 button{
    font-family: Tajawal;
  border-radius: 12px;
background-color: #00bab3;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  border-width: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 25px;
  line-height: 16px;
  font-weight: 700;
  padding: 20px;
  margin: 25px 5px 5px;
}

.thrd-sec{
    padding:10px 0;
    
}

.branches{
    background-image: url("	https://cdn.shopify.com/s/files/1/0612/0230/1187/t/7/assets/map-1641369434985.png?v=1641369444");
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    width:98%;
    height: 98%;
    margin:auto;
    padding-top:9%;
}

article{
    background-color: #fff;
    letter-spacing: 1px;
    line-height: 22px;
    box-shadow: rgba(0, 0, 0, .25) 0 4px 16px;
    font-size: 44px;
    text-align: center;
    padding: 10px 20px 20px;
    border-radius: 12px;
    margin: 0 35px 0 30px;
    opacity: 1;
    width:436px;
   
}

article h2 ,.app h2{
    color: rgb(245, 166, 35);
    font-weight: bold;
    font-size: 43px;
    text-align: center;
    padding-top: 10px;
    font-family: Almarai;
    line-height: 1.4;
    letter-spacing: 1px;
}

article p{
    font-size: 18px;
    font-family: Tajawal;
    text-align: center;
    color:#333;
}

.app{
    background-color: #f08e3014;
    padding-top: 60px;
}

.app h2{
    font-size: 36px;
}

.img-app{
    width:200px;
    border-radius: 12px;
}

#app-img{
    width:48%;
    
}

#app{
    max-width:40%;
    display: inline-block;
}


footer{
    background-color: #38b5b3;
    height: 350px;
    color: #fff;
    list-style: none;
      padding-top: 14px;
      font-family: Almarai, sans-serif;
      font-weight: 400;
      /* line-height: 1.6px; */
      padding-right:10px;
      padding-left:25px;
}

.footer-left,.footer-center,.footer-right{
    width:33%;
    display:inline-block;
    text-align: left;
    height:100%;

}

ul {
    list-style: none;
    
  }

  .footer-center ul li,.footer-left ul li{
    line-height: 1.6;
    padding:0;
    text-align: left;
    color: rgba(255, 255, 255, 0.6);
  }

  h3{
    font-size: 22px;
    font-weight: 700;
    line-height: 1.4;
    text-align: left;
    margin-bottom:11px;
  }
  .links-footer{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
  }
  .footer-right p{
    text-align: left;
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.6;
  }

  .links-footer:hover {
    color: #fff;
  }
  select {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #38b5b3;
    width: 100px;
    color: white;
    border: 1px solid white;
    font-size: 17px;
    padding-left: 10px;
    position: relative;
    top: 80px;
    left: 190px;
  }

  .link-2024 {
    text-decoration: none;
    color: black;
    font-size: 12px;
    position: relative;
    top: 80px;
    right: 3px;
    text-align: left;
  }

  .footer-center{
    height: 100%;
    margin-top: 0;
    position: relative;
    bottom:70px;
  }

